
<h1> <%= "Hi #{@recipient.username}!" %> </h1>
<br>
<br>
<h3> Welcome to the Scenic Route! We hope you'll enjoy sharing your favorite roads with fellow car enthusiasts!</h3>

<br>
<br>
<br>
<br>


<p> If you believe this message has been sent in error, please reply to this email address and we will make sure everything gets sorted out for you! </p>